* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;


}

/* header */
.first-screen {
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
    position: relative;
    min-height: 100vh;
    z-index: -99;
    z-index: -99;
}

.header-container {
    max-width: 1152px;
    display: flex;
    justify-content: space-between;
}


.header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;

}

.header__logo {
    width: 120px;
    margin-top: 29px;
}

.header-menu {
    display: flex;
    list-style: none;
    margin-top: 40px;
    padding: 0px 15px;
}

.humburger-menu {
    color: #FFFFFF;
    font-size: 40px;
    margin-top: 15px;
    display: none;
}

.header-menu__link {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 30px;
}


/* header */



/* first-content */

.first-content {
    display: flex;
    /* align-items: center; */
    padding-top: 60px;
    min-height: 800px;

}

.first-content__text {
    margin-top: 187.5px;
}


.first-content__title {
    font-size: 80px;
    line-height: 80px;
    color: #FFFFFF;
    font-weight: 400;
}

.first-content__subtitle {
    font-size: 30px;
    line-height: 44px;
    color: #FFFFFF;
    padding-top: 10px;
    font-weight: 400;
}

.first-content__btn {
    display: inline-block;
    padding: 20px 40px;
    background: #FC0A7E;
    border-radius: 3px;
    margin-top: 25px;
    color: #FFFFFF;

}

.first-content__img {
    width: 652px;
    position: absolute;
    right: -90px;
    bottom: 0;
}

.arrow {
    width: 9px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* first-content */

.tablet-section {
    background: #1B1B1B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tablet-section__text {
    margin-top: 80px;
    text-align: center;
}


.tablet-img {
    max-width: 1200px;
}

.tablet-section {
    padding: 0px 5%;
}

.tablet-section__text {
    max-width: 608px;
}

.tablet-section__text p {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
}


.tablet-section__text h3 {
    font-size: 38px;
    line-height: 48px;
    color: #FFFFFF;
    font-weight: 400;
    margin-top: 25px;
    padding-bottom: 55px;
}






/* app-order section ---start */






.app-order__container {
    padding-top: 80px;
    max-width: 1008px;
}

.app-order__block-margin {
    margin-bottom: 160px;
}

.app-block {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}

.description-text {
    max-width: 450px;
    padding: 0px 90px 0px 58px;
}

.headline {
    font-family: 'Gothic A1';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
    margin-bottom: 30px;
}

.description-text__title {
    font-family: 'Gothic A1';
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 22px;
}

.description-text__inner {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
}

.app-block__img {
    max-width: 558px;
    /* margin: 0px 108px; */
}


/* app section -----------and */
.benefist {
    margin-bottom: 160px;
}

.benefist__container {
    max-width: 1296px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;

}


.benefist-item {
    width: 432px;
    padding: 0px 30px;
}

.benefist-item__title {
    font-family: 'Gothic A1';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 17px;
}

.benefist-item__text {
    font-family: 'Gothic A1';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #6B6B6B;


}

.benefist-item__icon {
    width: 75px;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* benefist-numbers --start */
.benefist-numbers__container {
    display: flex;
    justify-content: space-between;
    max-width: 1296px;
    flex-wrap: wrap;
    margin-bottom: 160px;
}

.benefist-number {
    width: 324px;
}

.benefist-number__number {
    font-size: 59px;
    line-height: 90px;
    text-align: center;
    color: #333333;
    margin-bottom: 10px;
}

.benefist-number__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    text-align: center;


}

/* benefist-number -- and */


.dish-description__container {
    max-width: 1008px;


}

.dish-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
    align-items: center;
}


.dish-block__img {
    width: 519px;
    margin: 0px 20px;
}



@media (max-width:1336px) {
    .first-content__img {
        width: 400px;
        bottom: 30%;
        right: 0px;
    }

    .first-content__text {
        width: 400px;
    }

    .container {
        padding-left: 5%;
        padding-right: 5%;

    }

    .first-content__title {
        font-size: 60px;
    }

    .first-content__subtitle {
        font-size: 20px;
    }



    /* .app-block__img {
        margin: 0px 10px;
    } */

    .description-text {
        padding: 0px 10px 0px 10px;

    }

    .benefist-item {
        width: 380px;
    }

    .benefist-number {
        width: 20%;
        margin: 20px 0px;
    }

}

@media (max-width:920px) {
    .description-text {
        margin-bottom: 60px;

    }

    .benefist-item {
        margin-bottom: 40px;
    }

    .benefist-number {
        width: 50%;
    }

    .benefist {
        margin-bottom: 60px;
    }

    .benefist-numbers {
        margin-bottom: 60px;

    }

    .benefist-number__number {
        font-size: 40px;
    }

    .benefist-number__text {
        font-size: 16px;
    }
}

@media (max-width:720px) {
    .first-content__img {
        position: relative;
        margin-top: 100px;
        width: 80%;
    }

    .first-content {
        flex-direction: column;
        align-items: center;


    }

    .arrow {
        display: none;
    }

    .app-block {
        flex-wrap: wrap;
    }

    .app-order__block-margin {
        margin-bottom: 80px;
    }

    .description-text {
        width: 100%;
        text-align: center;

    }

    .order {
        order: 1;
    }



    .dish-block {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish-block__img {
        margin: 0px;
    }


}


@media (max-width:618px) {
    .header-menu {
        display: none;
    }

    .humburger-menu {
        display: block;
    }

    .first-content__text {
        width: 100%;
        margin-top: 100px;
        text-align: center;
    }
}